@{
    ViewData["Title"] = "Job Posted";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h2 class="mb-4">Your Job Has Been Posted Successfully!</h2>
            <p>Thank you for using our service to post your job. You can view your job posting or return to the dashboard using the links below.</p>
            <a href="/Employers" class="btn btn-primary m-2">View Job Posting</a>
            <a href="/Employers" class="btn btn-secondary m-2">Return to Dashboard</a>
        </div>
    </div>
</div>

